main {
    margin: auto;
    max-width: 90%;
}
.intro {
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.8);
}
.intro .row:nth-child(2) {
    margin-top: -20px;
}
.poem p {
    margin-bottom: 0;
    font-weight: bold;
}
.poem i {
    font-size: 1rem;
}
.intro-text {
    padding: 0 15px;
}
#self {
    height: 100%;
    background: url("../img/about.png") no-repeat left bottom;
    background-size: contain;
}