.error-wrapper {
    width: 613px;
    height: 720px;
    padding: 50px 25px;
    position: absolute;
    top: calc(50% - 360px);
    left: calc(50% - 306.5px);
    background: url("../img/paper.png") no-repeat;
}
.poem {
    margin-left: 135px;
}
.poem p {
    font-weight: bold;
}
.poem i {
    font-size: 1rem;
}
.error-wrapper h1 {
    color: red;
    font-weight: 200;
    margin: 50px auto auto 135px;
}